.app-background {
  background-image: url('../public/bg3.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh; /* Tüm ekranı kaplasın */
  width: 100%;
}
